/*搜索条件样式*/
.panel {
	color: #333333;
}

.title {
	text-align: left;
	padding-left: 0px;
}

.form-horizontal .control-label {
	text-align: left;
}

/*列表样式*/
table {
	white-space: nowrap; /*强制在同一行内显示所有文本，直到文本结束或者遭遇br对象*/
	overflow: hidden;
}
td a {
	text-decoration: none;
	color: #333333
}

td a:link {
	text-decoration: none;
	color: #333333
}

td a:active {
	text-decoration: none;
	color: #333333
}

td a:hover {
	text-decoration: none;
	color: #333333
}

td a:visited {
	text-decoration: none;
	color: #333333
}

.control-label {
	font-weight: 10;
	text-align: left;
}

.mytable {
	table-layout: fixed;
	width: 100% border 0px;
	margin: 0px;
}

.mytable tr td {
	text-overflow: ellipsis; /* for IE */
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */
	overflow: hidden;
	white-space: nowrap;
	border: 0px;
	text-align: center
}


/*查看样式*/
.hand {
	cursor: pointer;
}
/*过滤条件样式*/

#labelDiv label {
	width: 100%;
	height: 35px;
	line-height: 35px;
}

#labelDiv label:hover {
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #333333;
	color: #FFFFFF;
	cursor: pointer
}

#labelDiv label span {
	margin-left: 10px;
}

#labelDiv label input[type="checkbox"] {
	margin-left: 20px;
}


.btn-black {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #333333;
	color: #FFFFFF;
	cursor: pointer;
}

.list-black {
	width: 84%;
	height: 200;
	border: 1px solid #eee;
	position: absolute;
	z-index: 100;
	background: #FFFFFF;
	
}

.select-icon {
	float: right;
	margin-top: 10px;
}

.select-btn {
	border: 1px solid #eee;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 3px;
	color: #FFFFFF;
	background: #333333
}

/*点击时显示内容的样式*/
.toastTiger1 {
	position: fixed;
	padding: 5px;
	background-color: #000000;
	padding: 10px;
	text-align: center;
	opacity: .9;
	color: #fff;
	z-index: 9999;
	-moz-border-radius: 5px; /* Gecko browsers */
	-webkit-border-radius: 5px; /* Webkit browsers */
	border-radius: 5px; /* W3C syntax */
	box-shadow: 0 0 5px #FFEC8B;
	-webkit-box-shadow: 0 0 5px #FFFFFF;
	-moz-box-shadow: 0 0 5px #FFFFFF;
}