<link href="./css/user.css" rel="stylesheet">
<div ng-init="getUserInit()">

	<div class="logo">修改密码</div>

	<div class="editForm">
		<form name="form_valid" class="form-horizontal" novalidate>
			<fieldset class="mar20 fontColor">
				<label class="col-sm-4 col-md-4 control-label">账户名：</label>
				<div class="col-md-6 col-sm-6 mg_t_6">{{userInfo.userName}}</div>
			</fieldset>
			<hr class="hrDiv" />
			<fieldset class="mar20 ">
				<label class="col-sm-4 control-label">当前登录密码：</label>
				<div class="col-md-5 col-sm-5">
					<input type="password" name="oldPassword" ng-model="userPassword"
						class="form-control" required
						ng-minlength=6 ng-maxlength=20 ng-focus ng-blur="hideError()">
					<div class="errorColor"
						ng-show="form_valid.oldPassword.$dirty && form_valid.oldPassword.$invalid">
						<small class="error"
							ng-show="!form_valid.oldPassword.$focused && form_valid.oldPassword.$error.required ">▲密码不能为空！
						</small> <small class="error"
							ng-show="!form_valid.oldPassword.$focused && form_valid.oldPassword.$error.minlength || form_valid.oldPassword.$error.maxlength">▲密码长度必须在6~20个字符内！
						</small>
					</div>
					<div class="errorColor" ng-show="payError && userPassword">
						<small class="error">▲登录密码错误！
						</small> 
					</div>
				</div>
				<div class="mg_t_6">
					<a href="#changeType/findPwd">忘记密码？</a>
				</div>
			</fieldset>

			<fieldset class="mar20">
				<label class="col-sm-4 control-label">新登录密码：</label>
				<div class="col-md-5 col-sm-5">
					<input type="password" name="newPassword" class="form-control"
						ng-model="newPassword" required ng-minlength=6 ng-maxlength=20
						ng-focus>
					<div class="errorColor"
						ng-show="!form_valid.newPassword.$focused && form_valid.newPassword.$dirty && form_valid.newPassword.$invalid">
						<small class="error"
							ng-show="!form_valid.newPassword.$focused && form_valid.newPassword.$error.minlength || form_valid.newPassword.$error.maxlength">▲密码长度必须在5~20个字符内！
						</small>
					</div>
				</div>
				<!-- <div class="mg_t_5">必须是6-20位英文字符</div> -->
			</fieldset>


			<fieldset class="mar20">
				<label class="col-sm-4 control-label">再输入一次：</label>
				<div class="col-md-5 col-sm-5">
					<input type="password" name="newRePassword" class="form-control"
						ng-model="newRePassword" required ng-minlength=5 ng-maxlength=20
						repeat="newPassword" ng-focus>
					<div class="errorColor"
						ng-show="!form_valid.newRePassword.$focused && form_valid.newRePassword.$dirty && form_valid.newRePassword.$invalid">
						<small class="error"
							ng-show="!form_valid.newRePassword.$focused && form_valid.newRePassword.$error.minlength || form_valid.newRePassword.$error.maxlength">▲密码长度必须在5~20个字符内！
						</small> <small class="error"
							ng-show="(form_valid.newRePassword.$dirty && !form_valid.newRePassword.$focused  && form_valid.newRePassword.$error.repeat )&& !form_valid.newRePassword.$error.minlength">
							▲两次密码输入不一致！ </small>
					</div>
				</div>

			</fieldset>
			<fieldset class="mar20">
				<label class="col-sm-4 control-label"></label>
				<div class="col-md-8 col-sm-8">
					<a type="button" class="btn btn-primary"
						ng-disabled="form_valid.$invalid || unique" ng-click="eidtUser()">完成</a>
				</div>
			</fieldset>
		</form>


	</div>
</div>
