<!DOCTYPE html>
<html lang="zh-cn" ng-app="testApp2">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>8流量demo</title>
<!-- Bootstrap core CSS -->
<link href="./css/bootstrap/bootstrap.css" rel="stylesheet">


<!-- Custom styles for this template -->

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link href="css/bootstrap/bootstrap.css" rel="stylesheet">
<link href="css/regUser.css" rel="stylesheet">

</head>
<body ng-controller="testControllers">
	<div id="main">
		<!-- 顶部标题栏 开始 -->
		<!-- 导航 -->
		<div class="top_bar">
			<div class="top_title">
				欢迎来到8流量！请<a> <a href="../flow/login.html">登录</a>/<a href="../flow/register.html">免费注册</a></a>
			</div>
			<div class="top_dh">
				<div class="top_content">
					<img src="./img/new_img/LOGO.png" />
					<div class="top_nav">
						<div class="top_nav_button" onclick="javascript:window.location='http://www.8liuliang.com/index.html'">首页</div>
						<div class="top_nav_button" onclick="javascript:window.location='http://www.8liuliang.com/service.html'">产品</div>
						<div class="top_nav_button" onclick="javascript:window.location='http://www.8liuliang.com/plan.html'">方案</div>
						<div class="top_nav_button" onclick="javascript:window.location='http://www.8liuliang.com/about.html'">关于我们</div>
						<div class="top_nav_button active" onclick="javascript:window.location='../flow/login.html'">
						 <img src="./img/new_img/flowgo2.png">
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 导航 -->
		<!-- 顶部导航栏 结束 -->
	</div>
	<!-- 动画展示开始 -->
	<div class="row login_main">
		<form class="form-horizontal" role="form" id="msform" name="set_form"
			novalidate>
			<h3>重置登录密码</h3>
			<hr />
			<fieldset class="mg_t_30">
				<label class="col-md-offset-2 col-md-3  col-sm-3 control-label">
					登录密码</label>

				<div class="col-md-3  col-sm-5">
					<input type="password" name="userPwd" ng-model="user.password"
						ng-maxlength="20" ng-minlength="6" class="form-control"
						placeholder="6-20个字符" required>
				</div>
				<div class="ng-hide" ng-show="set_form.$invalid && set_form.$dirty">
					<div
						ng-show="set_form.userPwd.$dirty && set_form.userPwd.$error.required">
						<img src="img/5.png">登录密码不能为空！
					</div>
					<div
						ng-show="set_form.userPwd.$dirty && set_form.userPwd.$error.maxlength">
						<img src="img/5.png">登录密码长度不能大于20个字符！
					</div>
					<div
						ng-show="set_form.userPwd.$dirty && set_form.userPwd.$error.minlength">
						<img src="img/5.png">登录密码长度不能小于6个字符！
					</div>
				</div>
			</fieldset>
			<fieldset class="mg_t_30">
				<label class="col-md-offset-2 col-md-3  col-sm-3 control-label">
					确认密码</label>
				<div class="col-md-3  col-sm-5">
					<input type="password" name="rePwd" ng-model="rePwd"
						ng-maxlength="20" ng-minlength="6" class="form-control"
						placeholder="请再一次输入密码" repeat="userPwd" required>
				</div>
				<div class="ng-hide" ng-show="set_form.rePwd!=set_form.userPwd">
					<div
						ng-show="set_form.rePwd.$dirty && set_form.rePwd.$error.required">
						<img src="img/5.png">登录密码不能为空！
					</div>
					<div
						ng-show="set_form.rePwd.$dirty && set_form.rePwd.$error.maxlength">
						<img src="img/5.png">登录密码长度不能大于20个字符！
					</div>
					<div
						ng-show="set_form.rePwd.$dirty && set_form.rePwd.$error.minlength">
						<img src="img/5.png">登录密码长度不能小于6个字符！
					</div>
					<div
						ng-show="set_form.rePwd.$dirty && set_form.rePwd.$error.repeat">
						<img src="img/5.png">两次密码输入不一致！
					</div>
				</div>
			</fieldset>

			<fieldset class="mg_t_30">
				<div class="col-md-offset-5 col-sm-offset-3 col-md-3  col-sm-4">
					<button class="col-md-offset-3  col-sm-offset-4 col-md-6 col-sm-6 btn  btn-warning " type="submit"
						ng-disabled="set_form.$invalid" ng-click="resetPwd()">确认</button>
				</div>
			</fieldset>
			<hr>
		</form>
	</div>
</body>
 <script src="js/angular/lib/jquery.js"></script>
<script src="js/angular/lib/jquery.easing.min.js" type="text/javascript"></script>
<script src="js/bootstrap/bootstrap.js"></script>
<script src="js/angular/lib/angular.min.js"></script>
<script src="js/angular/lib/angular-cookies.min.js"></script>
<script src="js/util/angular.easypiechart.js"></script>
<script src="js/util/angular.easypiechart.js"></script>
<script src="js/util/regUtil.js"></script>
<script src="js/common/ivan.js"></script>
<script src="js/angular/angularCtrl/flow-registerCtrl.js"></script> 



</html>