.margin-20-left{
	margin-left:20px;
	
}
.margin-10-left{
	margin-left:10px;
	
}
.margin-40-left{
	margin-left:20px;
	
}

.margin-20-top{
	margin-top:20px;
	
}

table,tr,th{
	text-align:center;
}