<!DOCTYPE html>
<html ng-app="flowApp">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="author" content="ThemeBucket">
<link rel="shortcut icon" href="#" type="image/png">
<title>8流量分销后台</title>

<link href="./css/bootstrap.min.css" rel="stylesheet">
<!--common-->
<link href="./css/style.css" rel="stylesheet">
<link href="./css/style-responsive.css" rel="stylesheet">
<link href="./css/page.css" rel="stylesheet">
<link href="./css/otherStyle.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
<style>
/*全屏背景遮罩层*/
.loadingPage_bg1 {
	background: none repeat scroll 0 0 #000;
	height: 100%;
	left: 0; /*:rgba(0,0,0,0.5);*/
	opacity: 0.7;
	filter: alpha(opacity =   70);
	width: 200%;
	position: absolute;
	top: 0px;
	z-index: 110;
}

#loadingPage {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: #595959;
	height: 48px;
	left: 50%;
	line-height: 47px;
	margin-left: -74px;
	margin-top: -14px;
	padding: 0px 10px 10px 50px;
	position: absolute;
	text-align: left center;
	top: 50%;
	width: 248px;
	z-index: 111;
	background: url(img/loading.gif) no-repeat scroll 12px center #FFFFFF;
	border: 2px solid #86A5AD;
}

.toastTiger {
	position: fixed;
	top: 5%;
	left: 49%;
	width: 350px;
	margin-left: -100px;
	background-color: #000000;
	padding: 10px 0;
	text-align: center;
	opacity: .9;
	color: #fff;
	padding: 5px;
	z-index:9999;
	-moz-border-radius: 5px; /* Gecko browsers */
	-webkit-border-radius: 5px; /* Webkit browsers */
	border-radius: 5px; /* W3C syntax */
	box-shadow: 0 0 5px #FFEC8B;
	-webkit-box-shadow: 0 0 5px #FFFFFF;
	-moz-box-shadow: 0 0 5px #FFFFFF;
}
</style>  
</head>

<body class="sticky-header" style="font-family:'Microsoft YaHei'" ng-controller="flowController">

	<section>
		<!-- left side start-->
		<div class="left-side sticky-left-side" id="showMenuItem">

			<!--logo and iconic logo start-->
			<div class="logo">
				<a href="#index"><img src="img/logo.png" alt=""></a>
			</div>

			<div class="logo-icon text-center">
				<a href="index.html"><img src="img/logo_icon.png" alt=""></a>
			</div>
			<!--logo and iconic logo end-->

			<div class="left-side-inner">

				<!-- visible to small devices only -->
				<div class="visible-xs hidden-sm hidden-md hidden-lg">
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li><i class="glyphicon glyphicon-list-alt"></i> <span> 退出</span></li>
					</ul>
				</div>

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					<li  ng-cloak ng-show="textalign"><a href="#index"><i
							class="glyphicon glyphicon-list-alt"></i> <span> 控制台</span></a></li>
					<li class="menu-list" ng-cloak><a href="#"><i
							class="glyphicon glyphicon-list"></i> <span>订单管理</span></a>
						<ul class="sub-menu-list">
							<!-- <li class="ng-cloak"><a href="#batch" ng-cloak> 批次订单</a></li> -->
							<li><a href="#couponBatch"> 流量卡订单</a></li>
							<li><a href="#single"> 直充订单</a></li>
							<li><a href="#backCard"> 退卡订单</a></li>
						</ul></li>
					<!-- <li class="menu-list"  ng-cloak><a href="#"><i
							class="glyphicon glyphicon-align-left"></i> <span> 商品管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="#goods"> 商品管理</a></li>
						</ul></li> -->
					<li class="menu-list" ><a><i
							class="glyphicon glyphicon-list-alt"></i><span>  券管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="#coupon"> 券管理</a></li>
						</ul></li>
					<li class="menu-list" ><a><i
							class="glyphicon glyphicon-list-alt"></i><span>  兑换管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="#couponRecord"> 兑换记录</a></li>
						</ul></li>
					<li class="menu-list" ng-cloak><a><i
							class="glyphicon glyphicon-user"></i><span>  用户管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="#user"> 后台用户</a></li>
							<li><a href="#userRep"> 前台用户</a></li>
							<li><a href="#userAssetFlow"> 用户流水</a></li>
						</ul></li>
					</ul>
				<!--sidebar nav end-->

			</div>
		</div>
		<!-- left side end-->

		<!-- main content start-->
		<div class="main-content">

			<!-- header section start-->
			<div class="header-section" id="topMenu" ng-cloak>

				<!--toggle button start-->
				<a class="toggle-btn"><i class="glyphicon glyphicon-list-alt"></i></a>
				<!--toggle button end-->
				<!--notification menu start -->
				<div class="menu-right">

					<ul class="notification-menu">
						
						<li><a class="btn btn-default dropdown-toggle"
							data-toggle="dropdown"> <img
								src="img/photos/user-avatar.png" alt="" />{{userName}} <span
								class="caret"></span>
						</a>
							<ul class="dropdown-menu dropdown-menu-usermenu pull-right">

								<li ng-click="getOut()"><a><i class="fa fa-sign-out"></i>退出</a>
								</li>
							</ul></li>

					</ul>
				</div>
				<!--notification menu end -->

			</div>
			<!-- header section end-->
			<!--body wrapper start-->
			<div class="wrapper">
				<div class="states-info" ng-init="init();" id="mainId">
					<div ng-view></div>

				</div>
			</div>
			<!--body wrapper end-->
			<!--footer section start-->
			<!--  <footer>
            2015 &copy; 北京奇点虚拟管理平台测试beta 1.0.5
        </footer> -->
			<!--footer section end-->
			<div ng-show="DIALOG_TOAST" class="toastTiger ng-hide" id="toastTT" style="display: none;">
		        <span ng-bind="DIALOG_TOAST_TITLE"></span></div>
		
		</div>
		<!-- class="alert alert-dangerin ng-hide" ng-show="DIALOG_SHOW" -->
		<div class="alert alert-dangerin  ng-hide ng-cloak" ng-cloak ng-show="DIALOG_SHOW" style="display: none;"
				id="drag">
				<div class="alertTitle">
					<div class="col-md-6">
						<span ng-bind="DIALOG_TITLE"></span>
					</div>
					<button class="close close_btn" type="button" ng-click="escDelete()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
				<div class="alertContent" ng-bind="DIALOG_TEXT"></div>
				<div class="alertFooter">
					<button class="col-sm-offset-2 btn btn-primary btn-ls col-sm-2"
						type="button" ng-click="confirmDel()">确认</button>
					<button class="btn btn-default btn-ls" type="button"
						ng-click="escDelete()">取消</button>
				</div>
			</div>
		<!-- main content end-->
	</section>
	<!-- Small modal -->

	<script src="./js/lib/jquery.js"></script>
	<script src="./js/lib/bootstrap.min.js"></script>
	<script src="./js/jquery.nicescroll.js"></script>
	<script src="./js/scripts.js"></script>
	<script src="./js/lib/angular.min.js"></script>
	<script src="./js/common/app.js"></script>
	<script src="./js/common/CommonPerson.js"></script>
	<script src="./js/util/ivan.js"></script>
	<script src="./js/util/tm.pagination.js"></script>
	<script src="./js/lib/angular-cookies.min.js"></script>
	<script src="./js/lib/angular-route.min.js"></script>
	<script language="javascript" type="text/javascript"
		src="My97DatePicker/WdatePicker.js"></script>
	<script src="./js/util/ivan.js"></script>	
	<script src="./js/common/CommonPerson.js"></script>
	<script src="./js/angluarctrl/flow-batchOrderCtrl.js"></script>
	<script src="./js/angluarctrl/flow-singleOrderCtrl.js"></script>	
	<script src="./js/angluarctrl/flow-batchDetailCtrl.js"></script>
	<script src="./js/angluarctrl/flow-backCardCtrl.js"></script>
	<script src="./js/angluarctrl/flow-goodsCtrl.js"></script>
	<script src="./js/angluarctrl/flow-couponCtrl.js"></script>
	<script src="./js/angluarctrl/flow-main.js"></script>
	<script src="./js/angluarctrl/flow-userCtrl.js"></script>
	<script src="./js/angluarctrl/flow-userRechargeCtrl.js"></script>
	<script src="./js/angluarctrl/flow-userAssetFlowCtrl.js"></script>
	<script src="./js/angluarctrl/flow-couponBatchCtrl.js"></script>
	<script src="./js/angluarctrl/flow-couponBatchDetailCtrl.js"></script>
	<script src="./js/angluarctrl/flow-couponRecordCtrl.js"></script>
</body>
</html>
