<!-- <link href="css/cardManger.css" rel="stylesheet"> -->

<!-- 兑换记录 -->
<div ng-init="vm.getSumeHistory()">
		<!-- 流量卡logo -->
		<div class="logo">
			<span>流量卡兑换记录</span>
		</div>
	<!-- /流量卡logo -->
		<div class="tab_content">
			<div>
				<input class="form-control tabSearch" type="text"
					ng-model="vm.serchContent" placeholder="兑换名称" />
				<button class="btn btn-primary" ng-click="vm.btnSeach()">查询</button>
				<div class="divDate">兑换时间：</div>
				<input class="Wdate date form-control tabDate" style="height: 30px;"
					type="text" id="o_start_time"
					onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',minDate:'1980-12-12',maxDate:'2050-12-12'})"
					placeholder="起始时间" ng-model="om.startTime" /> <span
					class="divDate_mid">到</span> <input
					class="Wdate date form-control tabDate" style="height: 30px;"
					type="text" id="o_end_time"
					onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',minDate:'1980-12-12',maxDate:'2050-12-12'})"
					placeholder="结束时间" ng-model="om.endTime" />
			</div>

			<table class="table table-bordered" ng-show="vm.histroyList.length > 0">
				<thead>
					<tr>
						<th>兑换命名</th>
						<th>提交时间</th>
						<th>有效兑换</th>
						<th>充值成功</th>
						<th>充值中</th>
						<th>充值失败</th>
						<th>兑换状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="history in vm.histroyList">
						<td>{{history.exchangeBatchName}}</td>
						<td>{{history.createDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{history.validTotal}}</td>
						<td>{{history.rechargeSuccessTotal}}</td>
						<td>{{history.rechargeTotal}}</td>
						<td>{{history.rechargeFailureTotal}}</td>
						<td>{{history.statusText}}</td>
						<td>
							<a ng-href="../coupon/downloadResult?exchangeBatchNo={{history.exchangeBatchNo}}&exchangeBatchName={{history.exchangeBatchName}}"><span><u>下载兑换结果</u></span></a>
							<a href="javascript:void(0)" ng-click="vm.queryDetail(history.exchangeBatchNo)"><span><u>查看明细</u></span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-show="vm.histroyList.length == 0"
			style="float: left; width: 100%; margin-top: 30px;">
			<div class="alert alert-info alert-dismissible" role="alert">
				<strong>暂无兑换记录!</strong>
			</div>
		</div>

</div>